@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.FeaturedNewsContainer {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-md6;
    @include ms-lg6;
  
}
.ItemInfo {
  @include ms-font-l;
  @include ms-fontWeight-semibold;
}
.ItemSender {
  @include ms-fontSize-xs;
  @include ms-fontWeight-light;
  
}
.ImagePlaceholder img{
  max-width: 271px;
  max-height: 171px;
  height: auto; 
  width: auto; 
}