@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
$themePrimary: '[theme:themePrimary, default:#003262]';
$themeSecondary: '[theme:themeSecondary, default:#5692b5]';
$themeTertiary: "[theme:themeTertiary, default:#69afe5]";
$themeLight: "[theme:themeLight, default:#b3d6f2]";
$themeAccent: "[theme:themeAccent, default:inherit]";
$themeDark: "[theme:themeDark, default:#005a9e]";
$themeDarkAlt: "[theme:themeDarkAlt, default:#106ebe]";
$themeDarker: "[theme:themeDarker, default:#004578]";
$neutralLighter: "[theme:neutralLighter, default:#fff]";
$white: "[theme:white, default:#fff]";

.MyMessageBar{
  // width: 100%;
  background-color: #C00000;
  color: $white;
  padding: 5px;
}

.MyMessageBar i{
  float:right;
}
.MyMessageBar:hover{
  cursor: pointer;
  background-color:rgba(192, 0, 0, 0.7)
}

.Alert{
  // width: 100%;
  background-color: #C00000;
  color: $white;
  padding: 5px;
}
.Alert i{
  float:right;
}
.Alert:hover{
  cursor: pointer;
  background-color:rgba(192, 0, 0, 0.7)
}

.Warning{
  // width: 100%;
  
  background-color:rgba(235, 180, 32, 1);
  color: $white;
  padding: 5px;
}
.Warning i{
  float:right;
}
.Warning:hover{
  cursor: pointer;
  background-color:rgba(235, 180, 32, 0.7);
}
