@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
$themePrimary: '[theme:themePrimary, default:red]';
$themeSecondary: '[theme:themeSecondary, default:#5692b5]';
$themeTertiary: "[theme:themeTertiary, default:#69afe5]";
$themeLight: "[theme:themeLight, default:#b3d6f2]";
$themeAccent: "[theme:themeAccent, default:inherit]";
$themeDark: "[theme:themeDark, default:#005a9e]";
$themeDarkAlt: "[theme:themeDarkAlt, default:#106ebe]";
$themeDarker: "[theme:themeDarker, default:#004578]";
$neutralLighter: "[theme:neutralLighter, default:#fff]";
$white: "[theme:white, default:#fff]";
.container{
    min-height: 40px;
    padding-bottom:20px;
}
.selected{
    // background-color:$neutralLighter;
    background-color:$neutralLighter;
    
}
.unselected{
    background-color:$themePrimary;
    color: $white;
}
.column {
    @include ms-Grid-col;
    // @include ms-lg10;
    // @include ms-xl8;
    // @include ms-xlPush2;
    // @include ms-lgPush1;
  }